/********************************
 * Sections
 ********************************/
#races {
	border-color: var(--color-races);
}
#races h2 {
	color: var(--color-races);
}

#races .graph {
	font-size: 0.70rem;
}

#attributes {
	border-color: var(--color-attributes);
}
#attributes h2 {
	color: var(--color-attributes);
}

#attributes .graph {
	font-size: 0.75rem;
}

#skills {
	border-color: var(--color-skills);
}
#skills h2 {
	color: var(--color-skills);
}

#spells {
	border-color: var(--color-spells);
}
#spells h2 {
	color: var(--color-spells);
}

#alignments {
	border-color: var(--color-align);
}
#alignments h2 {
	color: var(--color-align);
}

#alignments .graph {
	font-size: 0.75rem;
}
