/********************************
 * Sections
 ********************************/
#races {
	border-color: var(--color-races);
}
#races h2 {
	color: var(--color-races);
}

#races .graph {
	font-size: 0.70rem;
}

#attributes {
	border-color: var(--color-attributes);
}
#attributes h2 {
	color: var(--color-attributes);
}

#skills {
	border-color: var(--color-skills);
}
#skills h2 {
	color: var(--color-skills);
}

#spells {
	border-color: var(--color-spells);
}
#spells h2 {
	color: var(--color-spells);
}

#feats {
	border-color: var(--color-feats);
}
#feats h2 {
	color: var(--color-feats);
}
